<div id="wrap-index">
  <div class="swiper-area">

  </div>
  <div class="service-area">
    <div class="service-title">
      <h3>OUR SERVICE</h3>
      <p>Learn Ipsum is simply dummy Business insdusty</p>
    </div>
    <div class="service-main">
      <div class="service-left">
        
      </div>
      <div class="service-right">
        
      </div>
    </div>
  </div>
</div>