<header class="header">
    <div class="header-inner">
        <img src="<%= require('assets/image/logo.png') %>" alt="">
        <ul class="navigator">
            <li class="navigator-item" data-navigator="webpack">HOME</li>
            <li class="navigator-item" data-navigator="webpack">SERVICE</li>
            <li class="navigator-item" data-navigator="webpack">ABOUT US</li>
            <li class="navigator-item" data-navigator="webpack">PRICING TABLE</li>
            <li class="navigator-item" data-navigator="webpack">HOW IT WORK</li>
            <li class="navigator-item" data-navigator="webpack">HAPPY CLIENTS</li>
            <li class="navigator-item" data-navigator="webpack">CONCAT US</li>
        </ul>
    </div>
</header>
